<main class="text-light">
    <h1 class="pl-3">Welcome Admin!</h1>
    <h2 class="h4 text-center">Non-Admin Registered Users Below</h2>
    <table id="teams" class="tables table-striped table-bordered col-md-8 offset-md-2">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Date Joined</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of Users">
                <td>{{user.user_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.createdAt | slice:0:10}}</td> <!--Slieces so that only date appears.-->
            </tr>
        </tbody>
    </table>
    <div class="text-center pt-4">
        <button type="button" class="btn btn-primary ml-3" id="loginBtn" (click)="goHere('')">Home</button>
        <button type="button" class="btn btn-primary ml-3" id="loginBtn" (click)="goHere('leagues')">Leagues</button>
    </div>
</main>