<!--Main section of the page. Has the menu bar as well as table that is generated via JS-->
<main>
    <form class="col-12 pb-3" id="updateForm">
      <!--Should be Post but not due to github / live server reasons.-->
      <div class="col-12">
        <div class="text-center">
          <p class="h2 boldunder text-light pt-3">
            Update Your Information
          </p>
          <div class="pt-3">
            <table
              class="table table-bordered border-light text-dark text-left"
              id="playertbl"
            >
              <tr class="hidden">
                <th class="text-light">id</th>
                <td>
                  <input type="text" name="id" id="id"/>
                </td>
              </tr>
              <tr>
                <th class="text-light">Username</th>
                <td>
                  <input type="text" name="user_name" id="user_name"/>
                </td>
              </tr>                  
              <tr class="hidden">
                <th class="text-light">Password</th>
                <td>
                  <input type="password" name="user_password" id="user_password"/>
                </td>
              </tr>
              <tr>
                <th class="text-light">Email</th>
                <td>
                  <input type="email" name="email" id="email" />
                </td>
              </tr>
               <tr>
                <th class="text-light">Are you an Admin?</th>
                <td>
                  <input type="checkbox" name="is_admin" id="is_admin" disabled/>
                </td>
              </tr>
              <tr>
                <th class="text-light">Confirm Password</th>
                <td>
                  <input type="password" name="confirm_pass" id="confirm_pass"/>
                </td>
              </tr>
            </table>
            <div class="alert alert-success hidden col-4 bg-danger text-light offset-md-4" role="alert" id="msg"></div>
            <br /> 
            </div>
          </div>
          <button
            type="button"
            class="btn btn-lg btn-secondary col-2 offset-md-2"
            id="cancel"
          >
            Cancel
          </button>
          <button type="submit"
            class="btn btn-lg btn-secondary col-2 offset-md-1"
            id="updateBtn"
          >
            Update
          </button>
          <button type="button"
            class="btn btn-lg btn-secondary col-2 offset-md-1"
            id="delete"
          >
            Delete
          </button>
        </div>
    </form>
  </main>