        <div class="container text-light">
            <h1 class="offset-md-3 pt-5">Welcome! Please Register Now!</h1>
            <form id="registerForm" class="col-4 offset-md-4">
                <div class="form-group">
                    <label for="user_name">User Name</label>
                    <input type="text" class="form-control" id="user_name" name="user_name" [(ngModel)]="user_name" placeholder="Enter a User Name" required autofocus />
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" aria-describedby="emailHelp" placeholder="Enter your Email Address" required/>
                    <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="user_password">Password</label>
                    <input type="password" class="form-control" id="user_password" name="user_password" [(ngModel)]="user_password" aria-describedby="passwordHelp" placeholder="Enter a Password" required />
                    <small id="passwordHelp" class="form-text">Password must be at least 8 characters.</small>
                </div>
                <div class="form-group">
                    <label for="confirm">Confirm</label>
                    <input type="password" class="form-control" id="confirm" name="confirm" [(ngModel)]="confirmPass" placeholder="Confirm your password" required />
                </div>
                <input type="submit" class="btn btn-primary" (click)="onSubmit()" />
                <input type="reset" class="btn btn-secondary" id="resetBtn" (click)="onReset()" />
            </form>
        </div>
        <div class="container offset-md-4 pl-5 text-light">
            <br />
            <div class="alert alert-danger col-4" role="alert" id="errMsg" *ngIf="error">{{errMsg}}</div>
            <br />
            Already have an account? <a href="/login" title="Login" class="text-light"><u>Login now.</u></a>
        </div>