<div class="container">
    <img class="mb-4 offset-md-4 pt-4 pl-5" src="/assets/img/lock.png" alt="Login" id="lock" />
    <h1 class="h3 mb-3 offset-md-5 font-weight-normal text-light">Please Log in</h1>
    <form id="loginForm" class="offset-md-4 col-12">
        <div class="form-group col-4">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="userName" placeholder="Enter your User Name" required autofocus/>
        </div>
        <div class="form-group col-4">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" placeholder="Enter your Password" required />
        </div>
        <button type="submit" class="btn btn-primary ml-3" id="loginBtn" (click)="onSubmit()">Login</button>
        <button type="reset" class="btn btn-secondary ml-3" id="resetBtn" (click)="onReset()">Reset</button>
    </form>
</div>
<div class="container offset-md-4 pl-5">
    <br />
    <div class="alert alert-danger col-4" role="alert" id="errMsg" *ngIf="error">{{errMsg}}</div>
    <br />Don't have an account?
    <a href="/register" title="Register" class="text-light">Register.</a>
</div>